.footer {
  padding: 60px 13%;
  display: flex;
  justify-content: space-between;
  background-color: #282828;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

ul > li {
  margin: 10px 0;
}

ul > li > img {
  padding: 0 2px;
}

.footer__right > ul li:last-child {
  margin-top: 35px;
}
